[submodule "qcolorpicker"]
	path = qcolorpicker
	url = https://github.com/QuadFlask/colorpicker.git
[submodule "i2pd/i2pd"]
	path = i2pd/i2pd
	url = https://github.com/PurpleI2P/i2pd.git
	shallow = true
[submodule "i2pd/openssl"]
	path = i2pd/openssl
	url = https://github.com/openssl/openssl.git
	shallow = true
