<?xml version="1.0" encoding="utf-8"?>
<!-- FairEmail I2P installs its own updates, see I2pUpdate -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.UPDATE_PACKAGES_WITHOUT_USER_ACTION" />

    <application>
        <receiver
            android:name=".I2pUpdate$Receiver"
            android:exported="false" />
    </application>
</manifest>
